# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.melos_managed/
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/captures/
android/.idea/
android/local.properties
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata
DerivedData/
build/
*.pbxuser

# Web
web/.dart_tool/

# Others
.env
*.log
*.lock
*.tmp
*.bak
*.swp

# macOS
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
windows/Flutter/ephemeral/

# Linux
linux/Flutter/ephemeral/

# Firebase
.firebase/
firebase.json


# env
.env
